<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046689193737-l5gq780dkji7d0d51v7gtog91a9q4hj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046689193737-l5gq780dkji7d0d51v7gtog91a9q4hj7</string>
	<key>API_KEY</key>
	<string>AIzaSyCvBEAuCrTZOwM3h4mxs4XDt7E3P-zEaz4</string>
	<key>GCM_SENDER_ID</key>
	<string>1046689193737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-mdiguin-c4l</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-mdiguin-c4l.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046689193737:ios:979034feba0b5440a1fdd8</string>
</dict>
</plist>